Source: ros-groovy-spacenav-node
Section: misc
Priority: extra
Maintainer: Jonathan Bohren <jbo@jhu.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-geometry-msgs,ros-groovy-sensor-msgs,libx11-dev,libspnav-dev,ros-groovy-roscpp
Homepage: http://www.ros.org/wiki/spacenav_node
Standards-Version: 3.9.2

Package: ros-groovy-spacenav-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-roscpp,ros-groovy-sensor-msgs,libspnav-dev,ros-groovy-geometry-msgs,spacenavd,libx11-dev
Description: ROS interface to the 3Dconnexion SpaceNavigator 6DOF joystick.
