Source: ros-groovy-spacenav-node
Section: misc
Priority: extra
Maintainer: Jonathan Bohren <jbo@jhu.edu>
Build-Depends: debhelper (>= 7.0.50~), libspnav-dev, libx11-dev, ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-sensor-msgs
Homepage: http://www.ros.org/wiki/spacenav_node
Standards-Version: 3.9.2

Package: ros-groovy-spacenav-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspnav-dev, libx11-dev, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-sensor-msgs, spacenavd
Description: ROS interface to the 3Dconnexion SpaceNavigator 6DOF joystick.
