Source: ros-indigo-joy
Section: misc
Priority: extra
Maintainer: Jonathan Bohren <jbo@jhu.edu>
Build-Depends: debhelper (>= 9.0.0), joystick, ros-indigo-catkin, ros-indigo-diagnostic-updater, ros-indigo-rosbag, ros-indigo-roscpp, ros-indigo-sensor-msgs
Homepage: http://www.ros.org/wiki/joy
Standards-Version: 3.9.2

Package: ros-indigo-joy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, joystick, ros-indigo-diagnostic-updater, ros-indigo-roscpp, ros-indigo-sensor-msgs
Description: ROS driver for a generic Linux joystick. The joy package contains joy_node, a node that interfaces a generic Linux joystick to ROS. This node publishes a &quot;Joy&quot; message, which contains the current state of each one of the joystick's buttons and axes.
